.event {
  padding: 30px;
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: black;
  background-image: url('../img/bg.jpg');
  background-size: cover;
  background-position: center;
  color: #fff;
}

.event__title {
  margin-bottom: 50px;
  font-size: 100px;
  font-weight: 800;
  line-height: 1.2;
}

.event__info-item {
  font-size: 30px;
  line-height: 1.4;
}

.event__info {
  margin-bottom: 62px;
  display: flex;
  gap: 80px;
}

.event__info-number {
  margin-right: 8px;
  font-size: 80px;
  font-weight: 800;
  line-height: 1.2;
}

.event__button {
  font-size: 24px;
  line-height: 1.4;
}

.event__button_reserve {
  padding: 16px 36px;
  margin-bottom: 24px;
  border-radius: 36px;
  background-color: #FFC119;
  color: #1A1A1A;
}

.event__button_edit {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 18px;
}

@media (max-width: 1024px) {
  .event__title {
    margin-bottom: 40px;
    font-size: 70px;
  }

  .event__info-item {
    font-size: 24px;
  }
  
  .event__info {
    margin-bottom: 45px;
    gap: 50px;
  }

  .event__info-number {
    font-size: 50px;
  }

  .event__button_reserve {
    margin-bottom: 20px;
    font-size: 18px;
  }
}